*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Nav-bar */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav img{
  width: 220px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.nav-links li{
  list-style: none;
}

.coloreLinkNavBar{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}


/* Container centrale */
.container{
  width: 80%;
  margin: 0 auto;
}

.banner{
  width: 80%;
  height: 250px;
  background-color: rgb(100, 56, 223);
  /* background-image: url('../img/prova.jpg');
  background-size: cover;
  background-position: center; */
  margin: 15px auto;
}

.content{
  display: flex;
  justify-content: space-around;
  height: 220px;
  width: 80%;
  background-color: coral;
  margin: 10px auto;
  padding: 10px;
}

table tr td{
  border: 1px solid black;
  padding: 0 3px;
}

/* Footer */
footer{
  height: 95px;
  width: 80%;
  background-color: rgb(189, 44, 44);
  margin: 0 auto;
}

footer li{
  margin: 0 20px;
}

/* media query */
@media screen and (max-width: 1024px) {
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/*button scopri di più*/
.button_scopri_di_piu{
  text-align: center;
  margin-bottom: 5%;
}
.button_scopri_di_piu button{
  background-color: #2276b6;
  font-weight: 403px;
  border: none;
  cursor: pointer;
  
}
.button_scopri_di_piu a{
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight:  12px;
  color: #fff;
  padding: 19px 39px;
  border: solid 1px #0076a3;
  background: #0095cd;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 17px;
 
  
}


.button_scopri_di_piu a:hover{
  background-color:	#003399;
}
/*fine scopri di piu*/

/*Chi siamo? stile*/
.about{
  margin: 15px auto;
  width: 80%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}


#chiSiamoId{
  text-align: center;
  
}
.foto1{
  text-align: center;
}
.contenitoreFraseChiSimo{
  margin-top: 2%;
  margin-bottom: 4%;
  text-indent: 30px;
  text-align: center;
}

/*button scopri di più*/
.button_scopri_di_piu{
  text-align: center;
  margin-bottom: 5%;
}
.button_scopri_di_piu button{
  background-color: #2276b6;
  font-weight: 403px;
  border: none;
  cursor: pointer;
  
}
.button_scopri_di_piu a{
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight:  12px;
  color: #fff;
  padding: 19px 39px;
  border: solid 1px #0076a3;
  background: #0095cd;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 17px;
 
  
}


.button_scopri_di_piu a:hover{
  background-color:	#003399;
}