.pubblicita_Aziendale{
  display: flex;
  width: 80%;
  height: 600px;
  border: slategray solid;
  margin: 15px auto;
}
.pubblicita_Aziendale h3{
  padding-left: 70px;
  padding-top: 70px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 30px;
  font-weight: bold;
}
.pubblicita_Aziendale p{
  padding-top: 9px;
  padding-left: 70px;
  width: 90%;
  font-size: 40px;
  text-align: left;
  line-height: 50px;
}

.contenuto{
  width: 40%;
  overflow-y: scroll;
}

#immagine{
  width: 60%;
}

.foto{
  background-image: url('../img/about.jpeg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px){
  .pubblicita_Aziendale{
    flex-direction: column;
  }

  .pubblicita_Aziendale p{
    font-size: 20px;
  }

  .contenuto{
    width: 100%;
  }

  #immagine{
    height: 350px;
    width: 100%;
  }
}